.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height to 100% of the viewport height */
}

.spinner {
    border: 8px solid #f3f3f3; /* Light gray border */
    border-top: 8px solid #f4d085; /* Blue border for the spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Rotate the spinner infinitely */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
