.app {
  background-color: white;
}

.page {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  margin-top: 50px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}