.app {
  background-color: white;
}

.page {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  margin-top: 50px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}