:root {
    --greenColor: #303A25;
    --orangeColor: #E6993A;
    --blueColor: #6c81be;
    --blackColor: #000000;
    --whiteColor: #FFFFFF;

    --playfair-font: 'Playfair', serif;
    --montserrat-font: 'Montserrat', sans-serif;
}